<ion-header>
  <ion-toolbar>
    <ion-title>Your Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col id="center-img" size-sm="3" offset-md="4">
          <ion-img id="logo" src="./assets/wecare_logo.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-item>
            <ion-icon color="primary" name="people" slot="start"></ion-icon>
            <h4>Total Patients: {{loadedPatients?.length}}</h4>
          </ion-item>
          <ion-item>
            <ion-icon color="danger" name="warning" slot="start"></ion-icon>
            <h4>Critical Patients: {{loadedCriticalPatients?.length}}</h4>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!loadedCriticalPatients || loadedCriticalPatients.length <= 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>Hooray!!! There are no critical patients right now!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="loadedCriticalPatients.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item *ngFor="let criticalPatient of loadedCriticalPatients"
            [routerLink]="['/', 'home', 'tabs', 'dashboard', criticalPatient.id]" detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="criticalPatient.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ criticalPatient.title }}</h2>
              <p>{{ criticalPatient.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

